.DS_Store
library/crud/__pycache__/__init__.cpython-39.pyc
library/crud/__pycache__/admin.cpython-39.pyc
library/crud/__pycache__/apps.cpython-39.pyc
library/crud/__pycache__/choices.cpython-39.pyc
library/crud/__pycache__/models.cpython-39.pyc
library/crud/migrations/__pycache__/__init__.cpython-39.pyc
library/crud/migrations/__pycache__/0001_initial.cpython-39.pyc
library/crud/migrations/__pycache__/0002_alter_admin_password.cpython-39.pyc
library/crud/migrations/__pycache__/0002_auto_20211027_1115.cpython-39.pyc
library/crud/migrations/__pycache__/0002_auto_20211027_1139.cpython-39.pyc
library/library/__pycache__/__init__.cpython-39.pyc
library/library/__pycache__/settings.cpython-39.pyc
library/library/__pycache__/urls.cpython-39.pyc
library/library/__pycache__/wsgi.cpython-39.pyc
library/crud/__pycache__/serializers.cpython-39.pyc
library/crud/__pycache__/urls.cpython-39.pyc
library/crud/__pycache__/views.cpython-39.pyc
library/crud/migrations/0001_initial.py
library/crud/migrations/0002_alter_admin_password.py
library/crud/migrations/__pycache__/0002_rename_admin_id_book_admin.cpython-39.pyc
library/library/__init__.py
library/crud/migrations/0001_initial.py
library/crud/migrations/0002_alter_admin_password.py
library-frontend/yarn.lock
library-frontend/public/favicon.ico
library-frontend/public/index.html
library-frontend/public/logo192.png
library-frontend/public/logo512.png
library-frontend/public/manifest.json
library-frontend/public/robots.txt
library/crud/migrations/0002_alter_book_book_type.py
library/crud/migrations/0003_alter_book_book_type.py
library/crud/migrations/__pycache__/0002_alter_book_book_type.cpython-39.pyc
library/crud/migrations/__pycache__/0003_alter_book_book_type.cpython-39.pyc
library-frontend/package-lock.json
library-frontend/package.json
